body {
	background-color: #121218;
	color: white;
	font-family: "Helvetica", sans-serif;
}
.bpdiv {
	padding: 40px;
}
.bph3 {
	margin: 0;
}
.bpheadertd {
	border: 1px solid gray;
	margin-bottom: 0;
	padding: 10px;
}
.bpimg {
	max-width: 500px;
}
.bplabeltd {
	border: 1px solid gray;
	padding-right: 10px;
	text-align: right;
}
.bpleftlinkimg {
	margin-right: 20px;
}
.bpminifigimg {
	height: 200px;
}
.bpp {
	margin: 5px;
}
.bpstatstd {
	border: 1px solid gray;
	padding-left: 10px;
}
.bptable {
	border-collapse: collapse;
}
.bptd {
	text-align: center;
	padding: 10px;
}
.bppunique {
	margin: 5px;
	color: gold;
}