body {   
    background-color: black;
    color: white;
    font-family: "Helvetica";
}
tr,th,td {
    border: 1px solid white;
    width: 100px;
    height: 80px;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
.halfdiv {
    text-align: center;
    width: 50%;
    display: inline-block;
    overflow: auto;
}
.abovetable {
    height: 80px;
    margin-top: 40px;
}
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
    tr,th,td {
        border: 1px solid black;
    }
}