:root {
	--darktan: #965C3A;
	--rain: #8388FD;
	--sky: #80EAFF;
	--sun: #FEFF00;
	--tan: #F9BA66;
	--verydarktan: #5B2B2A;
	--wind: #FF9200; 
}
body {
	background-color: var(--darktan);
	font-family: Verdana, Tahoma, sans-serif;
}
h2 {
	text-align: center;
}
img {
	image-rendering: pixelated;
	width: 32px;
}
svg {
	height: 1px;
	overflow: visible;
	width: 1px;
}
table {
	background-color: var(--tan);
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	text-align: left;
}
td, th, tr {
	border: 1px solid var(--verydarktan);
	padding: 6px;
}
th {
	min-width: 20px;
	text-align: center;
}
.any {
	background-color: var(--sky);
}
.barleft {
	border-right: none;
}
.barright {
	border-left: none;
}
.centered {
	text-align: center;
}
.innerheader {
	background-color: var(--tan);
	border: 1px solid var(--verydarktan);
	margin: auto;
	padding-bottom: 30px;
	padding-top: 10px;
}
.outerheader {
	margin-top: 20px;
	text-align: center;
}
.rain {
	background-color: var(--rain);
}
.sideways {
	transform: rotate(180deg);
	writing-mode: vertical-lr;
}
.svgholder {
	position: relative;
}
.sun {
	background-color: var(--sun);
}
.sunorwind {
	background-color: var(--wind);
}