body {
    background-color: #121218;
    color: white;
    font-family: "Helvetica", sans-serif;
}
.flagdiv {
    background-color: #b89869;
    height: 100vh;
    overflow: auto;
    width: 100%;
}
.flaginput {
    font-family: "Helvetica";
    font-size: 100%;
}
.flagoptionsheadertd {
    text-align: center;
}
.flagoptionstd {
    padding: 10px;
    text-align: right;
}
.flagpadcol {
    width: 100px;
}
.flagsfield {
    padding: 20px;
}
.flagtd {
    padding: 10px;
}
.flagtitletd {
    vertical-align: top;
}
.flagtoptable {
    padding: 20px;
}

.bptable {
    border-collapse: collapse;
}
.bpheadertd {
    padding: 10px;
    margin-bottom: 0;
    border: 1px solid gray;
}
.bplabeltd {
    text-align: right;
    border: 1px solid gray;
    padding-right: 10px;
}
.bpstatstd {
    border: 1px solid gray;
    padding-left: 10px;
}
.bptd {
    text-align: center;
    padding: 10px;
}
.bpimg {
    max-width: 500px;
}
.bpminifigimg {
    height: 200px;
}
.bpp {
    margin: 5px;
}
.bppunique {
    margin: 5px;
    color: gold;
}
.bph3 {
    margin: 0;
}
.bpleftlinkimg {
    margin-right: 20px;
}
.bpdiv {
    padding: 40px;
}