body {
    background-color: #121218;
    color: white;
    font-family: "Helvetica", sans-serif;
}
.flagdiv {
    background-color: #b89869;
    height: 100vh;
    overflow: auto;
    width: 100%;
}
.flaginput {
    font-family: "Helvetica";
    font-size: 100%;
}
.flagoptionsheadertd {
    text-align: center;
}
.flagoptionstd {
    padding: 10px;
    text-align: right;
}
.flagpadcol {
    width: 100px;
}
.flagsfield {
    padding: 20px;
}
.flagtd {
    padding: 10px;
}
.flagtitletd {
    vertical-align: top;
}
.flagtoptable {
    padding: 20px;
}