:root {
	--ut: #FF0000;
	--d1: #5585BD;
	--d2: #6FD1FF;
	--d3: #FEF960;
	--d4: #FFFFFF;
}
body {
	background-color: black;
	color: white;
	font-family: Verdana, Tahoma, sans-serif;
}
.link {
	stroke-width: 1px;
	stroke: white;
}
.label {
	fill: white;
	text-anchor: middle;
}
.leitmotif {
	fill: green;
}
.ut {
	fill: var(--ut);
}
.d1 {
	fill: var(--d1);
}
.d2 {
	fill: var(--d2);
}
.d3 {
	fill: var(--d3);
}
.d4 {
	fill: var(--d4);
}
svg {
	font-size: 90%;
	height: auto;
	max-width: 100%;
}
