body {
	background-color: black;
	color: white;
	font-family: Verdana, Tahoma, sans-serif;
}
h2 {
	font-size: 140%;
	margin: 0px;
}
img {
	image-rendering: pixelated;
}
p {
	margin-bottom: 7px;
	margin-top: 7px;
}
span {
	align-items: center;
	display: inline-flex;
	font-size: 70%;
	margin: 10px;
}
svg {
	font-size: 0%;
	max-width: 100%;
	border: 1px solid green;
}
.big_margin {
	margin-bottom: 12px;
	margin-top: 12px;
}
.g0 {
	fill: #A349A4;
}
.g1 {
	fill: #851053;
}
.g2 {
	fill: #31D989;
}
.g3 {
	fill: #FEF960;
}
.g4 {
	fill: #526AF3;
}
.legend {
	height: 10px;
	margin-right: 5px;
	width: 20px;
}
.leitmotif {
	fill: white;
}
.link {
	stroke: white;
	stroke-width: 1.5px;
	/* stroke: #3CB24E; */
}
#info_panel {
	background-color: black;
	border: 2px solid white;
	left: 40px;
	max-width: 350px;
	min-width: 200px;
	padding: 20px;
	position: absolute;
	top: 90px;
}
#selected_list {
	margin-left: 10px;
}
#selected_sprite {
	margin-left: 30px;
}
