body {
    background-color: #965C3A;
    font-family: Helvetica;
}
select {
    font-family: Helvetica;
}
span {
    padding: 20px;
}
table {
    background-color: #F9BA66;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: left;
}
td, th, tr {
    border: 1px solid #5B2B2A;
    padding: 6px;
}
th {
    text-align: center;
}
.innerheader {
    background-color: #F9BA66;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 10px;
    border: 1px solid #5B2B2A;
}
.outerheader {
    margin-top: 20px;
    text-align: center;
}