:root {
	--gray: #777777;
}
body {   
	background-color: black;
	color: white;
	font-family: Verdana, Tahoma, sans-serif;
	margin: 0px;
}
button {
	font-family: inherit;
}
h1 {
	margin: 10px;
	text-align: center;
	width: 75vw;
}
hr {
	color: var(--gray);
}
header {
	display: flex;
}
img {
	display: block;
	height: 150px;
}
svg {
	display: block;
}
table {
	border-collapse: collapse;
}
td, th, tr {
	/*border: 1px solid white;*/
	padding: 10px;
	padding-top: 0px;
}
.blaze {
	padding: 0px;
}
.diagramBar {
	border: 1px solid white;
	padding: 0px;
}
.diagramLabel {
	padding-bottom: 0px;
	text-align: right;
}
.notOptimal {
	color: red;
}
.optimizeButtons {
	border: 1px solid white;
	padding: 20px;
	text-align: center;	
}
.outerTd {
	padding-left: 40px;
	padding-right: 40px;
	vertical-align: top;
}
.rangeSlider {
	width: 500px;
}
#icon {
	display: inline-block;
	height: 32px;
	margin-left: 5px;
	margin-top: 5px;
}
@media (prefers-color-scheme: light) {
	body {
		background-color: white;
		color: black;
	}
	.diagramBar {
		border: 1px solid black;
	}
}
