body {   
	background-color: black;
	color: white;
	font-family: "Helvetica", sans-serif;
}
button {
	font-family: inherit;
}
img {
	display: block;
	height: 150px;
}
svg {
	display: block;
}
table {
	border-collapse: collapse;
}
td, th, tr {
	/*border: 1px solid white;*/
	padding: 10px;
	padding-top: 0px;
}
.blaze {
	padding: 0px;
}
.diagramBar {
	border: 1px solid white;
	padding: 0px;
}
.diagramLabel {
	padding-bottom: 0px;
	text-align: right;
}
.notOptimal {
	color: red;
}
.optimizeButtons {
	border: 1px solid white;
	padding: 20px;
	text-align: center;	
}
.outerTd {
	padding-left: 40px;
	padding-right: 40px;
	vertical-align: top;
}
.rangeSlider {
	width: 500px;
}