body {
    background-color: black;
    color: #00ff77;
    font-family: "Courier New";
}
table {
    border-collapse: collapse;
    text-align: center;
}
tr,th,td {
    border: 1px solid #00ff77;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
.dec {
    width: 150px;
}
.red {
    color: red;
}