body {
	background-color: black;
	color: #00ff77;
	font-family: "Courier New", Courier, monospace;
}

table {
	border-collapse: collapse;
	text-align: center;
}

tr,
td {
	border: 1px solid #00ff77;
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

a:link,
a:visited {
	color: #00ff77;
	text-decoration: none;
}

div {
	margin: 20px;
}

input {
	font-family: "Courier New", Courier, monospace;
	background-color: #00ff77;
	color: black;
	border: 1px solid #00ff77;
	font-size: 100%;
	margin-bottom: 10px;
	width: 160px;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
}

.cidr {
	width: auto;
}

.float {
	float: left;
}

button {
	font-family: "Courier New", Courier, monospace;
	font-size: 100%;
	background-color: black;
	border: 1px solid #00ff77;
	color: #00ff77;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
}

.mode-activated,
button:hover {
	color: black;
	background-color: #00ff77;
}

.red {
	color: red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}